body {
  font-family: Garamond, serif;
  background-color: floralwhite;
  color: hsl(248, 79%, 35%);
  font-size: 30px;
  margin: 30px;
}

.newpara-style {
  font-family: "Lora";
  font-size: 20px;
  color: rgb(3, 92, 50);
}

.poem-style {
  font-family: "Lora";
  font-size: 20px;
  color: rgb(214, 22, 54);
  text-align: center;
  background-color: black;
}

.div1 {
  font-family: "Lora";
  font-size: 20px;
  color: rgb(0, 39, 21);
}

.border-style {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.link-style:link,
.link-style:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link-style:hover,
.link-style:active {
  background-color: red;
}

.bck-image {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqQMwq_mZ2I9qpXPhmIeJ5on2jZTavrF65Kw&usqp=CAU");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

